* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #a09e9e;
  -webkit-box-shadow: 0px 0px 0.8rem #c4bfbf;
          box-shadow: 0px 0px 0.8rem #c4bfbf;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 10px;
}

header nav .logo {
  margin: 5px;
}

header nav .logo img {
  width: 70px;
}

header nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px auto;
}

header nav .nav-list .nav-contact {
  color: #e07b22;
  font-weight: bold;
}

header nav .nav-list li {
  list-style: none;
  padding: 0px 10px;
  font-size: 0.9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav .nav-list li:hover {
  font-weight: bold;
  background-color: #e07b22;
  border-radius: 7px;
  color: white;
}

header nav .nav-list li a {
  text-decoration: none;
  color: inherit;
}

header nav .nav-list li button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}

header nav .nav-list li button:hover {
  color: white;
}

main {
  width: 100%;
  overflow: hidden;
  background: #faf8f8;
}

main .nibe-banner {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(#dad8d9), color-stop(50%, transparent)), -webkit-gradient(linear, left top, left bottom, from(#cd7c11), color-stop(50%, white));
  background: linear-gradient(90deg, #dad8d9 0% 50%, transparent 50% 100%), linear-gradient(#cd7c11 0% 50%, white 50% 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .nibe-banner img {
  max-width: 100vw;
  max-height: 35vh;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main .o-nas {
  max-width: 95vw;
  margin: 5px auto 5px auto;
  font-size: 0.85rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
  display: none;
}

main .o-nas .title {
  font-size: 1.5rem;
  color: #e07b22;
  text-transform: uppercase;
  text-align: center;
  margin: 15px auto;
}

main .o-nas .mid-title {
  color: #e07b22;
  font-size: 1rem;
  font-style: italic;
  margin: 10px 10px;
}

main .o-nas p {
  padding-top: 20px;
}

main .o-nas .energia-img img {
  max-height: 20vh;
  max-width: 100%;
  display: block;
  margin-right: 0;
  margin-left: auto;
}

main .o-nas .range-items {
  margin: 10px auto 25px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[autofit];
      grid-template-columns: repeat(autofit, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

main .o-nas .range-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 0.7rem;
  background: white;
  -webkit-box-shadow: 0 0 1em lightgrey;
          box-shadow: 0 0 1em lightgrey;
  border: 1px solid #e07b22;
}

main .o-nas .brands-items {
  margin: 10px auto 25px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[autofit];
      grid-template-columns: repeat(autofit, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

main .o-nas .brands-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 0.7rem;
  background: white;
  -webkit-box-shadow: 0 0 1em lightgrey;
          box-shadow: 0 0 1em lightgrey;
}

main .o-nas .brands-items .item img {
  height: 30px;
  padding: 2px;
}

main .o-nas button {
  padding: 7px 25px;
  margin: 5px 0px;
  font-size: 0.7rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2em #949393;
          box-shadow: 0px 0px 2em #949393;
  border: none;
  background-color: #e07b22;
  color: white;
  cursor: pointer;
  display: block;
  margin: 25px auto 70px auto;
}

main .contact-section {
  display: none;
  width: 100vw;
  margin: 0 auto;
  background: #e07b22;
  padding: 20px;
}

main .contact-section .contact-info {
  display: block;
  width: 80%;
  text-align: center;
  margin: 0 auto 20px auto;
}

main .contact-section #contact-us {
  border-bottom: 1px solid white;
  width: 50%;
  text-align: center;
  display: block;
  margin: 5px auto;
  padding-bottom: 10px;
  color: white;
}

main .pompy {
  max-width: 95vw;
  margin: 5px auto 5px auto;
  font-size: 0.85rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

main .pompy h2 {
  font-size: 1.5rem;
  color: #e07b22;
  text-transform: uppercase;
  text-align: center;
  margin: 15px auto;
}

main .pompy h3 {
  color: #e07b22;
  font-size: 1rem;
  font-style: italic;
  margin: 10px 10px;
  text-align: center;
}

main .pompy .item-container {
  margin: 10px auto 25px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[autofit];
      grid-template-columns: repeat(autofit, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 95%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

main .pompy .item-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 0.7rem;
  background: white;
  border: 1px solid #e07b22;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
}

main .pompy .item-container .item li {
  list-style: none;
}

main .pompy .item-container .item .sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}

main .pompy .polaroid-container .polaroid {
  background: white;
  -webkit-box-shadow: 0 0 1rem lightgray;
          box-shadow: 0 0 1rem lightgray;
  padding-bottom: 25px;
  text-align: center;
}

main .pompy .polaroid-container .polaroid h4 {
  color: #e07b22;
  font-size: 1rem;
  font-style: italic;
  margin: 10px 10px;
  font-size: 98%;
  text-align: center;
  padding-top: 10px;
}

main .pompy .polaroid-container .polaroid p {
  width: 95%;
  margin: 0 auto;
  text-align: justify;
  font-size: 0.8rem;
}

main .pompy .polaroid-container .polaroid img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main .pompy .polaroid-container .polaroid ul li {
  list-style: none;
}

main .pompy .polaroid-container .polaroid li {
  width: 90%;
  margin: 0 auto;
  padding-left: 10px;
}

main .pompy .polaroid-container .polaroid iframe {
  margin: 15px auto;
  width: 300px;
  max-width: 100%;
  display: block;
}

#polaroid1 {
  grid-area: polaroid1;
}

#polaroid2 {
  grid-area: polaroid2;
}

#polaroid3 {
  grid-area: polaroid3;
}

#polaroid4 {
  grid-area: polaroid4;
}

#polaroid5 {
  grid-area: polaroid5;
}

#polaroid6 {
  grid-area: polaroid6;
}

#polaroid7 {
  grid-area: polaroid7;
}

#polaroid8 {
  grid-area: polaroid1;
}

@media screen and (min-width: 576px) {
  .brands-items, .range-items {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  .item-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .brands-items, .range-items {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 7px;
  }
}

@media screen and (min-width: 850px) {
  .brands-items, .range-items {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 7px;
  }
  .pompy .polaroid-container {
    width: 70vw;
    margin: 0 auto;
  }
  .pompy .polaroid-container .polaroid p {
    width: 75vw;
  }
  .pompy .polaroid-container .polaroid img {
    width: 35%;
  }
}

@media screen and (min-width: 992px) {
  article {
    max-width: 70vw;
    margin: 0 auto;
  }
  .brands-items, .range-items {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */