* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 99vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

header {
  background-color: #e2e3e5;
  border-bottom: 1px solid #242323;
  height: 180px;
}

header nav {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 6fr 1fr;
      grid-template-columns: 2fr 6fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .logo img {
  min-width: 50px;
  max-width: 70px;
}

header nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px auto;
  line-height: 1;
}

header nav .nav-list li {
  list-style: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

header nav .nav-list li:hover {
  font-weight: bold;
  background-color: white;
  border-radius: 7px;
  color: black;
}

header nav .nav-list li a {
  text-decoration: none;
  color: inherit;
}

header nav button {
  text-decoration: none;
  background-color: #e07b22;
  border: none;
  outline: none;
  padding: 15px 15px;
  margin: 5px auto;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

header nav button:hover {
  color: #dbdbdb;
  background-color: #ce670e;
}

main {
  width: 100%;
  overflow: hidden;
}

main .o-nas .img-part {
  position: relative;
}

main .o-nas .img-part .title {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: 25%;
  left: 10%;
}

main .o-nas .img-part p {
  position: absolute;
  top: 35%;
  left: 10%;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 70%;
  line-height: 1.3;
  max-height: 50vh;
}

main .o-nas .img-part .background-img {
  position: relative;
  display: inline-block;
}

main .o-nas .img-part .background-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.85)), color-stop(90%, transparent));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 0%, transparent 90%);
}

main .o-nas .img-part .background-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right 80%;
     object-position: right 80%;
  width: 100%;
  position: relative;
  max-height: 90vh;
  min-height: 90vh;
  z-index: -1;
}

main .o-nas .img-part .energia-img {
  position: absolute;
  right: 2%;
  top: 2%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  max-width: 80%;
  max-height: 20vh;
}

main .o-nas .range-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}

main .o-nas .range-items .item {
  padding: 0 5px;
  min-height: 150px;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}

main .o-nas .range-items .orange1 {
  background: #e07b22;
}

main .o-nas .range-items .orange1:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-weight: bold;
}

main .o-nas .range-items .orange2 {
  background: #772809;
}

main .o-nas .range-items .orange2:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-weight: bold;
}

main .o-nas .range-items .orange3 {
  background: #e4a316;
}

main .o-nas .range-items .orange3:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-weight: bold;
}

main .o-nas .range-items .orange4 {
  background: #ca470a;
}

main .o-nas .range-items .orange4:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-weight: bold;
}

main .o-nas .range-items .orange5 {
  background: #a73f03;
}

main .o-nas .range-items .orange5:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-weight: bold;
}

main .contact-section {
  display: none;
  width: 100vw;
  margin: 0 auto;
  background: rgba(32, 30, 30, 0.9);
  padding: 20px;
  position: absolute;
  top: 180px;
  left: 0;
  z-index: 5;
  color: white;
}

main .contact-section .contact-info {
  display: block;
  width: 80%;
  text-align: center;
  margin: 0 auto 20px auto;
}

main .contact-section #contact-us {
  border-bottom: 1px solid white;
  width: 50%;
  text-align: center;
  display: block;
  margin: 5px auto;
  padding-bottom: 10px;
}

main .pompy {
  display: block;
}

main .pompy .top-page .img-part {
  position: relative;
}

main .pompy .top-page .img-part .background-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right 60%;
     object-position: right 60%;
  width: 100%;
  position: relative;
  max-height: 87vh;
  min-height: 87vh;
  z-index: -1;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

main .pompy .top-page .img-part .title {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 10%;
}

main .pompy .top-page .img-part p {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 70%;
  line-height: 1.3;
  max-height: 50vh;
}

main .pompy .top-page .item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}

main .pompy .top-page .item-container .item {
  padding: 0 5px;
  min-height: 150px;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  top: 50%;
  min-width: 130px;
  line-height: 1.2;
  font-size: 0.9rem;
  white-space: wrap;
}

main .pompy .top-page .item-container .item li {
  list-style: none;
}

main .pompy .top-page .item-container .item .sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}

main .pompy .top-page .item-container .brown1 {
  background: #0F0705;
}

main .pompy .top-page .item-container .brown2 {
  background: #211814;
}

main .pompy .top-page .item-container .brown3 {
  background: #6B3700;
}

main .pompy .top-page .item-container .brown4 {
  background: #29160B;
}

main .pompy .top-page .item-container .brown5 {
  background: #BB7000;
}

main .pompy .top-page .item-container .brown1:hover, main .pompy .top-page .item-container .brown2:hover, main .pompy .top-page .item-container .brown3:hover, main .pompy .top-page .item-container .brown4:hover, main .pompy .top-page .item-container .brown5:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-weight: bold;
}

main .pompy .more-info {
  margin-top: 20px;
  width: 100%;
}

main .pompy .more-info h3 {
  text-align: center;
  font-size: 1.3rem;
  margin: 25px;
}

main .pompy .more-info .item-container .item {
  padding: 5px;
  margin: 2px;
  font-size: 1rem;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

main .pompy .more-info .item-container .item h4 {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px auto;
}

main .pompy .more-info .item-container .item p {
  margin-bottom: 20px;
}

main .pompy .more-info .item-container .item ul li {
  text-align: center;
  list-style: none;
}

main .pompy .more-info .item-container .item img {
  display: block;
  max-width: 100%;
  max-height: 350px;
  margin: 0 auto;
}

main .pompy .more-info .item-container .polaroid1 {
  background: #393B44;
  grid-area: pol1;
}

main .pompy .more-info .item-container .polaroid2 {
  background: #8D93AB;
  grid-area: pol2;
}

main .pompy .more-info .item-container .polaroid3 {
  background: #f3f5f4;
  color: black;
  padding-left: 20px;
  text-align: justify;
  grid-area: pol3;
}

main .pompy .more-info .item-container .polaroid4 {
  background: #393B44;
  grid-area: pol4;
}

main .pompy .more-info .item-container .polaroid5 {
  background: white;
  color: black;
  grid-area: pol5;
}

main .pompy .more-info .item-container .polaroid6 {
  background: #9099a8;
  grid-area: pol6;
}

main .pompy .more-info .item-container .polaroid6 p {
  text-align: center;
}

main .pompy .more-info .item-container .polaroid7 {
  background: #9099a8;
  grid-area: pol7;
}

main .pompy .more-info .item-container .polaroid8 {
  background: #9099a8;
  grid-area: pol8;
}

main .kolektory .top-page .img-part {
  position: relative;
}

main .kolektory .top-page .img-part .background-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.98)), color-stop(95%, rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0.5) 95%);
}

main .kolektory .top-page .img-part .background-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 40%;
     object-position: center 40%;
  width: 100%;
  position: relative;
  max-height: 80vh;
  min-height: 80vh;
  z-index: -1;
}

main .kolektory .top-page .img-part .title {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 10%;
}

main .kolektory .top-page .img-part p {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 70%;
  line-height: 1.3;
  max-height: 50vh;
}

main .kolektory .more-info {
  width: 99vw;
}

main .kolektory .more-info h3 {
  text-align: center;
  font-size: 1.3rem;
  margin: 25px;
}

main .kolektory .more-info .item-container .item {
  padding: 5px;
  margin: 2px;
  font-size: 1rem;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .kolektory .more-info .item-container .item h4 {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px auto;
}

main .kolektory .more-info .item-container .item p {
  margin-bottom: 20px;
}

main .kolektory .more-info .item-container .item ul li {
  text-align: center;
  list-style: none;
}

main .kolektory .more-info .item-container .item img {
  display: block;
  max-width: 100%;
  max-height: 350px;
  margin: 0 auto;
}

main .kolektory .more-info .item-container .item img {
  max-width: 60%;
  height: auto;
}

main .kolektory .more-info .item-container .polaroid1 {
  grid-area: pol1;
}

main .kolektory .more-info .item-container .polaroid2 {
  background: #393B44;
  grid-area: pol2;
  color: white;
}

main .kolektory .more-info .item-container .polaroid3 {
  background: #393B44;
  grid-area: pol3;
  color: white;
}

main .kolektory .more-info h4 {
  text-align: center;
  font-size: 1.1rem;
  margin: 20px;
}

main .kolektory .more-info .item-container1 .item {
  padding: 5px;
  margin: 2px;
  font-size: 1rem;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .kolektory .more-info .item-container1 .item h4 {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px auto;
}

main .kolektory .more-info .item-container1 .item p {
  margin-bottom: 20px;
}

main .kolektory .more-info .item-container1 .item ul li {
  text-align: center;
  list-style: none;
}

main .kolektory .more-info .item-container1 .item img {
  display: block;
  max-width: 100%;
  max-height: 350px;
  margin: 0 auto;
}

main .kolektory .more-info .item-container1 .item h4 {
  font-size: 1rem;
  font-weight: 600;
}

main .kolektory .more-info .item-container1 .polaroid4 {
  grid-area: pol4;
}

main .kolektory .more-info .item-container1 .polaroid4 img {
  max-width: 90%;
  height: auto;
}

main .kolektory .more-info .item-container1 .polaroid5 {
  grid-area: pol5;
}

main .kolektory .more-info .item-container1 .polaroid5 img {
  max-width: 90%;
  height: auto;
}

main .kolektory .more-info .item-container1 .polaroid6 {
  grid-area: pol6;
}

main .kolektory .more-info .item-container1 .polaroid6 img {
  max-width: 90%;
  height: auto;
}

main .rekuperacja {
  display: none;
  max-width: 95vw;
  margin: 5px auto 5px auto;
  font-size: 0.85rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .rekuperacja h2 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  text-align: left;
}

main .rekuperacja h3 {
  color: #BB7000;
  font-size: 1rem;
  font-style: italic;
  margin: 10px 10px;
  text-align: center;
}

main .rekuperacja .polaroid-container .polaroid {
  background: white;
  -webkit-box-shadow: 0 0 1rem lightgray;
          box-shadow: 0 0 1rem lightgray;
  padding-bottom: 25px;
  text-align: center;
}

main .rekuperacja .polaroid-container .polaroid h4 {
  color: #BB7000;
  font-size: 1rem;
  font-style: italic;
  margin: 10px 10px;
  font-size: 98%;
  text-align: center;
  padding-top: 10px;
}

main .rekuperacja .polaroid-container .polaroid p {
  width: 95%;
  margin: 0 auto;
  text-align: justify;
  font-size: 0.8rem;
}

main .rekuperacja .polaroid-container .polaroid img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main .rekuperacja .polaroid-container .polaroid ul li {
  list-style: none;
}

main .rekuperacja .polaroid-container .polaroid li {
  width: 90%;
  margin: 0 auto;
  padding-left: 10px;
}

main .rekuperacja .polaroid-container .polaroid iframe {
  margin: 15px auto;
  width: 300px;
  max-width: 100%;
  display: block;
}

main .rekuperacja .polaroid-container .polaroid p {
  padding-top: 10px;
}

main .rekuperacja .polaroid-container .polaroid .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .rekuperacja .polaroid-container .polaroid .item-container .item {
  padding: 0 5px;
  min-height: 150px;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  max-width: 150px;
  border: 1px solid #e07b22;
  margin: 7px;
}

main .rekuperacja .polaroid-container .polaroid .item-container .item1 {
  border: 1px solid #e07b22;
  max-width: 170px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
}

main .rekuperacja .polaroid-container .polaroid .item-container .item1 li {
  margin-top: 10px;
  margin-left: 0;
}

main .ogrzewanie {
  max-width: 95vw;
  margin: 5px auto 5px auto;
  font-size: 0.85rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .ogrzewanie h2 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  text-align: left;
}

main .ogrzewanie .polaroid-container .polaroid {
  background: white;
  -webkit-box-shadow: 0 0 1rem lightgray;
          box-shadow: 0 0 1rem lightgray;
  padding-bottom: 25px;
  text-align: center;
}

main .ogrzewanie .polaroid-container .polaroid h4 {
  color: #BB7000;
  font-size: 1rem;
  font-style: italic;
  margin: 10px 10px;
  font-size: 98%;
  text-align: center;
  padding-top: 10px;
}

main .ogrzewanie .polaroid-container .polaroid p {
  width: 95%;
  margin: 0 auto;
  text-align: justify;
  font-size: 0.8rem;
}

main .ogrzewanie .polaroid-container .polaroid img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main .ogrzewanie .polaroid-container .polaroid ul li {
  list-style: none;
}

main .ogrzewanie .polaroid-container .polaroid li {
  width: 90%;
  margin: 0 auto;
  padding-left: 10px;
}

main .ogrzewanie .polaroid-container .polaroid iframe {
  margin: 15px auto;
  width: 300px;
  max-width: 100%;
  display: block;
}

main .ogrzewanie .polaroid-container .polaroid img {
  margin-top: 10px;
  width: 70%;
  max-width: 300px;
}

main .ogrzewanie .polaroid-container .polaroid .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .ogrzewanie .polaroid-container .polaroid .item-container .item {
  padding: 0 5px;
  min-height: 150px;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  max-width: 150px;
  border: 1px solid #e07b22;
  margin: 7px;
}

main .nibe-banner {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(#dad8d9), color-stop(50%, transparent)), -webkit-gradient(linear, left top, left bottom, from(#cd7c11), color-stop(50%, white));
  background: linear-gradient(90deg, #dad8d9 0% 50%, transparent 50% 100%), linear-gradient(#cd7c11 0% 50%, white 50% 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .nibe-banner img {
  max-width: 100vw;
  max-height: 35vh;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 372px) {
  header {
    height: 140px;
  }
  main .contact-section {
    top: 140px;
  }
}

@media screen and (min-width: 395px) {
  header {
    height: 120px;
  }
  main .contact-section {
    top: 120px;
  }
  main .kolektory .top-page .img-part p {
    top: 40%;
  }
}

@media screen and (min-width: 522px) {
  header {
    height: 90px;
  }
  main .contact-section {
    top: 90px;
  }
  main .pompy .item-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  main .pompy .top-page .item-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  main .kolektory .top-page .img-part p {
    top: 40%;
  }
}

@media screen and (min-width: 612px) {
  header {
    height: 80px;
  }
  main .contact-section {
    top: 80px;
  }
  main .pompy .img-part p {
    width: 50%;
  }
  main .pompy .more-info .item-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 0;
        grid-template-areas: "pol1 pol3" "pol2 pol3" "pol2 pol3" "pol4 pol3" "pol5 pol6" "pol5 pol7" "pol5 pol8";
  }
  main .kolektory .top-page .img-part p {
    width: 60%;
    top: 40%;
  }
  main .kolektory .more-info .item-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "pol1 pol2" "pol1 pol3";
  }
  main .kolektory .more-info .item-container1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "pol4 pol5" "pol6 .";
  }
}

@media screen and (min-width: 768px) {
  main .o-nas .img-part p {
    width: 55%;
    font-size: 0.9rem;
  }
  main .o-nas .range-items {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  main .o-nas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    grid-gap: 0;
  }
  main .o-nas .img-part p {
    width: 60%;
    font-size: 1rem;
  }
  main .o-nas .range-items {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  main .o-nas .range-items .item {
    font-size: 0.85rem;
    min-height: 150px;
    max-height: calc(90vh / 3);
    grid-gap: 0;
  }
  main .pompy .top-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 2fr;
        grid-template-columns: 4fr 2fr;
  }
  main .pompy .top-page .img-part p {
    width: 60%;
    font-size: 1rem;
  }
  main .pompy .top-page .item-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  main .pompy .top-page .item-container .item {
    min-height: 150px;
    max-height: calc(87vh /3);
    grid-gap: 0;
    padding: 1px;
  }
  main .pompy .more-info .item-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "pol1 pol2 pol4 pol3" "pol1 pol2 pol4 pol3" "pol5 pol5 pol6 pol3" "pol5 pol5 pol7 pol8";
  }
  main .kolektory .top-page .img-part p {
    width: 40%;
    top: 40%;
  }
  main .kolektory .more-info .item-container1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "pol4 pol5 pol6";
  }
  main .nibe-banner {
    margin: 0;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */