* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 99vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

#nav-logo {
  max-width: 80px;
  position: absolute;
  top: 2vh;
  left: 3vh;
}

.nav-list {
  display: none;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  line-height: 1;
  width: 55%;
  margin: 2vh 15vh 0 auto;
}

.nav-item {
  list-style: none;
  font-size: 0.9rem;
  color: white;
  margin: 5px;
  padding-bottom: 5px;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.nav-item:hover {
  border-bottom: 2px solid #cd7c11;
}

.nav-active {
  border-bottom: 2px solid #cd7c11;
}

.nav-btn {
  position: absolute;
  top: 2vh;
  right: 2vh;
  display: none;
  color: white;
  background-color: #161313;
  border: 1px solid black;
  outline: 1px solid black;
  outline-offset: -2px;
  padding: 10px 15px;
  margin: 5px auto;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.nav-btn:hover {
  background: transparent;
  color: black;
  outline-offset: 3px;
}

.hamburger {
  position: absolute;
  top: 3vh;
  right: 5%;
  cursor: pointer;
}

.line {
  height: 3px;
  width: 25px;
  background: black;
  border-radius: 5px;
  margin: 4px;
}

@media (min-width: 860px) {
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  #nav-logo {
    max-width: 120px;
  }
  .nav-btn {
    display: inline-block;
  }
}

main {
  width: 100%;
  overflow: hidden;
}

.kolektory .top-page .img-part {
  position: relative;
}

.kolektory .top-page .img-part .background-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0.5) 95%);
}

.kolektory .top-page .img-part .background-img img {
  object-fit: cover;
  object-position: center 40%;
  width: 100%;
  position: relative;
  max-height: 80vh;
  min-height: 80vh;
  z-index: -1;
}

.kolektory .top-page .img-part .title {
  font-size: 1.5625rem;
  color: white;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 10%;
}

@media (min-width: 360px) {
  .kolektory .top-page .img-part .title {
    font-size: calc(1.5625rem + 4.167vw + -15px);
  }
}

@media (min-width: 600px) {
  .kolektory .top-page .img-part .title {
    font-size: calc(1.5625rem + 10px);
  }
}

.kolektory .top-page .img-part p {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 70%;
  line-height: 1.3;
  max-height: 50vh;
}

.kolektory .more-info {
  width: 99vw;
}

.kolektory .more-info h3 {
  text-align: center;
  font-size: 1.3rem;
  margin: 25px;
}

.kolektory .more-info .item-container .item {
  padding: 5px;
  margin: 2px;
  font-size: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.kolektory .more-info .item-container .item h4 {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px auto;
}

.kolektory .more-info .item-container .item p {
  margin-bottom: 20px;
}

.kolektory .more-info .item-container .item ul li {
  text-align: center;
  list-style: none;
}

.kolektory .more-info .item-container .item img {
  display: block;
  max-width: 100%;
  max-height: 350px;
  margin: 0 auto;
}

.kolektory .more-info .item-container .item img {
  max-width: 60%;
  height: auto;
}

.kolektory .more-info .item-container .polaroid1 {
  grid-area: pol1;
}

.kolektory .more-info .item-container .polaroid2 {
  background: #393B44;
  grid-area: pol2;
  color: white;
}

.kolektory .more-info .item-container .polaroid3 {
  background: #393B44;
  grid-area: pol3;
  color: white;
}

.kolektory .more-info h4 {
  text-align: center;
  font-size: 1.1rem;
  margin: 20px;
}

.kolektory .more-info .item-container1 .item {
  padding: 5px;
  margin: 2px;
  font-size: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.kolektory .more-info .item-container1 .item h4 {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px auto;
}

.kolektory .more-info .item-container1 .item p {
  margin-bottom: 20px;
}

.kolektory .more-info .item-container1 .item ul li {
  text-align: center;
  list-style: none;
}

.kolektory .more-info .item-container1 .item img {
  display: block;
  max-width: 100%;
  max-height: 350px;
  margin: 0 auto;
}

.kolektory .more-info .item-container1 .item h4 {
  font-size: 1rem;
  font-weight: 600;
}

.kolektory .more-info .item-container1 .polaroid4 {
  grid-area: pol4;
}

.kolektory .more-info .item-container1 .polaroid4 img {
  max-width: 90%;
  height: auto;
}

.kolektory .more-info .item-container1 .polaroid5 {
  grid-area: pol5;
}

.kolektory .more-info .item-container1 .polaroid5 img {
  max-width: 90%;
  height: auto;
}

.kolektory .more-info .item-container1 .polaroid6 {
  grid-area: pol6;
}

.kolektory .more-info .item-container1 .polaroid6 img {
  max-width: 90%;
  height: auto;
}
/*# sourceMappingURL=panels.css.map */