$orange: rgb(224, 123, 34);
// $kontakt-background: rgba(224, 123, 34, 0.8);
$kontakt-background: rgba(32, 30, 30, 0.9);
$red: 	rgb(167, 32, 43);
$yellow: #ffd722;
$shadow: 0px 0px 2em rgb(148, 147, 147);
$orange5: #4e1e02;
$brown5: #BB7000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 99vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
   
    
}
// mixins

@mixin contact-btn {
    padding: 25px 25px;
    margin: 5px auto;
    font-size: 0.7rem;
    border-radius: 10px;
    box-shadow: 0px 0px 2em rgb(148, 147, 147);
    border: none;
    background-color: $orange;
    color: white;
    cursor: pointer;
}
@mixin title {
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    text-align: left;
}
@mixin mid-title {
    color: $brown5;
    font-size: 1rem;
    font-style: italic;
    margin: 10px 10px;
}
@mixin item {
    padding: 0 5px;
    min-height: 150px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    color: white;
}
@mixin item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

@mixin item-in-container{
    
        padding:5px;
        margin: 2px;
        font-size: 1rem;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        h4{
            text-align: center;
            font-size: 1.2rem;
            margin: 10px auto;
        }
        p{
            margin-bottom: 20px;
        }
        ul {
            li{
            text-align: center;
            list-style: none;
            }
        }
        img{
            display: block;
            max-width: 100%;
            max-height: 350px;
            margin: 0 auto;
        }
    
}
            
@mixin article {
    max-width: 95vw;
    margin: 5px auto 5px auto;
    font-size: 0.85rem;
    justify-content: center;
}
@mixin polaroid {
    background: white;
            box-shadow: 0 0 1rem lightgray;
            padding-bottom: 25px;
            text-align: center;
            
            h4 {
                @include mid-title();
                font-size: 98%;
                text-align: center;
                padding-top: 10px;
            }
            p {
                width: 95%;
                margin: 0 auto;  
                text-align: justify;
                font-size: 0.8rem;
            }
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
            ul {
                li{
                    list-style: none;
                }
            }
            li {
                width: 90%;
                margin: 0 auto;
                padding-left: 10px;
            }
            iframe {
                margin: 15px auto;
                width: 300px;
                max-width: 100%;
                display: block;
            }
}

// header 

header {
    background-color: #e2e3e5;
    border-bottom: 1px solid rgb(36, 35, 35);
    height: 180px;
    
    nav {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        color: black;
        display: grid;
        grid-template-columns: 2fr 6fr 1fr;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        
        .logo {
            

            img{
            min-width:50px;
            max-width: 70px;
            }
        }

        .nav-list {
            display: flex;
            justify-content: center;
            align-items: baseline;
            flex-wrap: wrap;
            margin: 10px auto;
            line-height: 1;
            
            li{
                list-style: none;
                padding: 5px 10px;
                font-size: 0.9rem;
                flex-wrap: wrap;
                text-align: center;

                &:hover {
                    font-weight: bold;
                    background-color: white;
                    border-radius: 7px;
                    color: black;
                }

                a{
                    text-decoration: none;
                    color: inherit;
                }

                
            }
           
        } 
        button {
            text-decoration: none;
            background-color: $orange;
            border: none;
            outline: none;
            padding: 15px 15px;
            margin: 5px auto;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            
    
            &:hover {
                color: rgb(219, 219, 219);
                background-color: rgb(206, 103, 14);
                
            }
        }
    }
   
}

// main 
main {
    width: 100%;
    overflow: hidden;
    
    .o-nas {   
           
        .img-part{
            position: relative;
            
        .title {
            @include title();
            position: absolute;
            top: 25%;
            left: 10%;
            
        }
        
        p {
            position: absolute;
            top: 35%;
            left: 10%;
            color: white;
            text-transform: uppercase;
            font-size: 0.8rem;
            width: 70%;
            line-height: 1.3;
            max-height: 50vh;
        }
            .background-img{
                position: relative;
                display: inline-block;

                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background: linear-gradient(to right, rgba(0,0,0,0.85) 0%, transparent 90%)
                }

                img{
                object-fit: cover;
                object-position: right 80%;
                width: 100%;
                position: relative;
                max-height: 90vh;
                min-height: 90vh;
                z-index: -1;
                }
        }
        .energia-img {
            position: absolute;
            right: 2%;
            top: 2%;
            filter: grayscale(100%);
            max-width: 80%;
            max-height: 20vh;
        }
        }
       
        .range-items{
            @include item-container();


            .item{
                @include item();
            }
            .orange1 {
                background: $orange;
                &:hover {
                    transform: scale(1.02);
                    font-weight: bold;
                }
            }
            .orange2 {
                background: #772809;
                &:hover {
                    transform: scale(1.02);
                    font-weight: bold;
                }
            }
            .orange3 {
                background: #e4a316;
                &:hover {
                    transform: scale(1.02);
                    font-weight: bold;
                }
            }
            .orange4 {
                background: #ca470a;
                &:hover {
                    transform: scale(1.02);
                    font-weight: bold;
                }
            }
            .orange5 {
                background: #a73f03;
                &:hover {
                    transform: scale(1.02);
                    font-weight: bold;
                }
            }
            
        }
        
    }

    .contact-section {
        display: none;
        width: 100vw;
        margin: 0 auto;
        background: $kontakt-background;
        padding: 20px;
        position: absolute;
        top: 180px;
        left: 0;
        z-index: 5;
        color: white;
        
        
        
        .contact-info {
            display: block;
            width: 80%;
            text-align: center;
            margin: 0 auto 20px auto;   
        }

        #contact-us{
            border-bottom: 1px solid white;
            width: 50%;
            text-align: center;
            display: block;
            margin: 5px auto;
            padding-bottom: 10px;
            
        }
    }     

    .pompy {
        display: block;
        .top-page{

        .img-part{
            position: relative;
        
            .background-img {
                img{
                    object-fit: cover;
                    object-position: right 60%;
                    width: 100%;
                    position: relative;
                    max-height: 87vh;
                    min-height: 87vh;
                    z-index: -1;
                    transform: scaleX(-1);
                    }
            }
            .title {
                @include title();
                position: absolute;
                top: 10%;
                left: 10%;
                
            }
            
            p{
                position: absolute;
                top: 25%;
                left: 10%;
                color: white;
                text-transform: uppercase;
                font-size: 0.8rem;
                width: 70%;
                line-height: 1.3;
                max-height: 50vh;
            }
            
            
        }
    
        .item-container {
              @include item-container();
                
            .item{
                @include item();
                top: 50%;
                min-width: 130px;
                line-height: 1.2;
                font-size: 0.9rem;
                white-space: wrap;
                
                li {
                    list-style: none;
                    
                }
                
                .sup{
                    position: relative;
                    bottom: 1ex;
                    font-size: 80%;
                }
            }
            .brown1{
                background: #0F0705;
            }
            .brown2{
                background: #211814;
            }
            .brown3{
                background: #6B3700;
            }
            .brown4{
                background: #29160B;
            }
            .brown5{
                background: #BB7000;
            }
            .brown1:hover, .brown2:hover, .brown3:hover, .brown4:hover, .brown5:hover{
                transform: scale(1.02);
                font-weight: bold;
            }
        }
        }
        .more-info{
            margin-top: 20px;
            width: 100%;
            h3{
                text-align: center;
                font-size: 1.3rem;
                margin: 25px;
    
            }
            .item-container{
                                
                .item{
                    @include item-in-container();
                    color: white;
                    }
                .polaroid1{
                    background:  #393B44;
                    grid-area: pol1;
                }
                .polaroid2{
                    background: #8D93AB;
                    grid-area: pol2;
                }
                .polaroid3{
                    background: #f3f5f4;
                    color: black;
                    padding-left: 20px;
                    text-align: justify;
                    grid-area: pol3;
                }
                .polaroid4{
                    background: #393B44;
                    grid-area: pol4;
                }
                .polaroid5{
                    background: white;
                    color: black;
                    grid-area: pol5;
                }
                .polaroid6{
                    background: #9099a8;
                    grid-area: pol6;
                    p{
                        text-align: center;
                    }
                }
                .polaroid7{
                    background: #9099a8;
                    grid-area: pol7;
                }
                .polaroid8{
                    background: #9099a8;
                    grid-area: pol8;
                }

            }
        }
    }

    .kolektory {
        .top-page{
            .img-part{
                position: relative;

                .background-img{
                    
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        background: linear-gradient(to right, rgba(0,0,0,0.98) 0%, rgba(0,0,0,0.5) 95%)
                    }
                    img{
                    object-fit: cover;
                    object-position: center 40%;
                    width: 100%;
                    position: relative;
                    max-height: 80vh;
                    min-height: 80vh;
                    z-index: -1;
                    
                    }
                }
                .title {
                    @include title();
                    position: absolute;
                    top: 10%;
                    left: 10%;

                }
                p{
                    position: absolute;
                    top: 30%;
                    left: 10%;
                    color: white;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    width: 70%;
                    line-height: 1.3;
                    max-height: 50vh;

                }
            }
        }
        .more-info{
            width: 99vw;
            h3{
                text-align: center;
                font-size: 1.3rem;
                margin: 25px;
            }
            .item-container{
                .item{
                    @include item-in-container();
                    img{
                        max-width: 60%;
                        height: auto;
                    }
                }
                .polaroid1 {
                    grid-area: pol1;
                }
                .polaroid2 {
                    background:#393B44;
                    grid-area: pol2;
                    color: white;
                }
                .polaroid3 {
                    background: #393B44;
                    grid-area: pol3;
                    color: white;
                }
                
            }
            h4{
                text-align: center;
                font-size: 1.1rem;
                margin: 20px;
            }
            .item-container1{
                .item{
                    @include item-in-container();
                    
                    h4{
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
                .polaroid4 {
                    grid-area: pol4;
                    
                    img {
                        max-width: 90%;
                        height: auto;
                    }
                }
                .polaroid5 {
                    grid-area: pol5;

                    img {
                        max-width: 90%;
                        height: auto;
                    }

                }
                .polaroid6 {
                    grid-area: pol6;

                    img {
                        max-width: 90%;
                        height: auto;
                    }

                }
            }
            
        }
        
        
    }

    .rekuperacja {
        display: none;
        @include article();
        h2 {
            @include title();
        }
        h3 {
             @include mid-title();
             text-align: center;
        }

        .polaroid-container{

            .polaroid{
                @include polaroid();

                p{
                padding-top: 10px; 
                }

                .item-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    .item {
                        @include item();
                        max-width: 150px;
                        border: 1px solid $orange;
                        margin: 7px;
                    }
                    .item1 {
                        border: 1px solid $orange;
                        max-width: 170px;
                        margin-bottom: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 0.75rem;
                        li {
                            margin-top: 10px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .ogrzewanie {
        @include article();
        
        h2 {
            @include title();
        }

        .polaroid-container{
            
            .polaroid{
                @include polaroid();
                img{
                    margin-top: 10px;
                    width: 70%;
                    max-width: 300px;
                }

                .item-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    .item {
                        @include item();
                        max-width: 150px;
                        border: 1px solid $orange;
                        margin: 7px;
                    }
                }
            }
        }
    }
    .nibe-banner {
        width: 100%;
        height: auto;
        background: linear-gradient(90deg, #dad8d9 0% 50%, transparent 50% 100%),
                    linear-gradient(#cd7c11 0% 50%, white 50% 100%);
        
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        position: relative;
        
        img {
            max-width: 100vw;
            max-height: 35vh;
            margin: 0 auto;
            align-items: center;
            overflow: hidden;
        }
    }
}

@media screen and (min-width: 372px){
    header{
        height: 140px;
    }
    main{
        .contact-section{
            top: 140px;
        }
    }
}
@media screen and (min-width: 395px){
    header{
        height: 120px;
    }
    main{
        .contact-section{
            top: 120px;
        }
        .kolektory{
            .top-page{
                .img-part{
                    p {
                        top: 40%;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 522px){
    header{
        height: 90px;
    }
    main{
        .contact-section{
            top: 90px;
        }
        .pompy{
            .item-container{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        
    }
}

 @media screen and (min-width: 576px){
   main{
       .pompy{
           .top-page{
               .item-container{
                   grid-template-columns: 1fr 1fr 1fr;
               }
           }
       }
       .kolektory{
        .top-page{
            .img-part{
                p {
                    top: 40%;
                }
            }
        }
    }
   }
 }
 @media screen and (min-width: 612px){
     header{
         height: 80px;
     }
     main{
        .contact-section{
            top: 80px;
        }
        .pompy{
            .img-part{
                p {
                    width: 50%;
                }
            }
            .more-info{
                .item-container{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap:0;
                    grid-template-areas: "pol1 pol3"
                                        "pol2 pol3"
                                        "pol2 pol3"
                                        "pol4 pol3"
                                        "pol5 pol6"
                                        "pol5 pol7"
                                        "pol5 pol8";
                   
                }
            }
        }
        .kolektory{
            .top-page{
                .img-part{
                    p {
                        width: 60%;
                        top: 40%;
                    }
                }
            }
            
            .more-info{
                .item-container{
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-template-areas: "pol1 pol2"
                                            "pol1 pol3";
                }
                .item-container1{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "pol4 pol5"
                                        "pol6 .";
                    
                }
            }
            
        }
    }
 }

 @media screen and (min-width: 768px){
        
    main{
        .o-nas {
            
            .img-part{
                p{
                width: 55%;
                font-size: 0.9rem;
                }
            }
            .range-items{
                grid-template-columns: 1fr 1fr 1fr;
                
            }
        }
    }
 }

 
 @media screen and (min-width: 992px) {
        
    main {
        .o-nas {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 0;
                        
            .img-part{
                
                p{
                    width: 60%;
                    font-size: 1rem;
                }
            }
            .range-items{
                grid-template-columns: repeat(6, 1fr);
                align-items: stretch;
                
                .item{
                    font-size: 0.85rem;
                    min-height: 150px;
                    max-height: calc(90vh / 3);
                    grid-gap: 0;
                }
            }
        }}
    main{
        .pompy {
            .top-page{
            display: grid;
            grid-template-columns: 4fr 2fr;

            .img-part{
                p {
                    width: 60%;
                    font-size: 1rem;
                }
            }
            .item-container{
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                align-items: stretch;
                .item{
                    min-height: 150px;
                    max-height: calc(87vh /3);
                    grid-gap:0;
                    padding: 1px;
                }
            }
            }
            .more-info{
                .item-container{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-areas: "pol1 pol2 pol4 pol3"
                                        "pol1 pol2 pol4 pol3"
                                        "pol5 pol5 pol6 pol3"
                                        "pol5 pol5 pol7 pol8"
                                        ;
                }
            }
        }
        .kolektory{
            .top-page{
                .img-part{
                    p {
                        width: 40%;
                        top: 40%;
                    }
                }
            }
            .more-info{
                .item-container1{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-areas: "pol4 pol5 pol6";
                    
                }
            }
        }
        .nibe-banner {
            margin: 0;
            margin-top: 5px;
        }
    }
}

                
                