@import "../global";
@import "../media-queries";




.hero {
  position: relative;
  width: 100%;
}
.pomps-title {
    @include title();
}
.pomps-description {
    @include hero-description();
}

.hero-bg {
    @include hero-bg-img();
  object-position: right 60%;
}



.items {
    @include items();
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    
}
.item {
    @include item();
    flex-direction: column;
    justify-content: space-evenly;

    ul {
        list-style: none;
    }
}
.polaroid2, .polaroid3, .polaroid4, .polaroid5, .polaroid6, .polaroid7, .polaroid8 {
    display: none;
}


.card-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
    grid-template-rows: 400px 400px;
    grid-auto-rows: 400px;
    margin: 0 auto 100px auto;
    grid-gap: 10px 15px;
    justify-content: center;
}

.info-card {
    background: white;
    border: 1px solid orange;
    cursor: pointer;
    position: relative;
  }
  .card-inner {
    position: absolute;
    
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in-out;
    transform-style: preserve-3d;
    // perspective: 1000px;
  }
  .info-card:hover .card-inner, .info-card:focus .card-inner {
    transform: rotateY(180deg);
  }
  .card-front,
  .card-back {
    // position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg);
    background: white;
    position: absolute;
    top: 0;

  }
  .card-title {
      height: 100%;
    color: #ff9900;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-description {
      font-size: 0.75rem;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: WHITE;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
  }
  .card-img {
      width: 100%;
  }
.card-long {
    z-index: 5;
}








@media (min-width: 300px) {
    .pomps-description {
      font-size: calc(0.75rem + 1vw + -3px);
    }
  }
  @media (min-width: 600px) {
    .pomps-description {
      width: 60%;
    }
  }
  @media (min-width: 850px) {
    .pomps-title {
      top: 30%;
    }
    .pomps-description {
      top: 40%;
      width: 50%;
      font-size: calc(0.75rem + 4px);
    }
  }






// .pompy {
//     display: block;
//     .top-page{

//         .img-part{
//             position: relative;

//             .background-img {
//                 img{
//                     object-fit: cover;
//                     object-position: right 60%;
//                     width: 100%;
//                     position: relative;
//                     max-height: 87vh;
//                     min-height: 87vh;
//                     z-index: -1;
//                     transform: scaleX(-1);
//                 }
//             }
//             .title {
//                 @include title();
//                 position: absolute;
//                 top: 10%;
//                 left: 10%;
//             }

//             p{
//                 position: absolute;
//                 top: 25%;
//                 left: 10%;
//                 color: white;
//                 text-transform: uppercase;
//                 font-size: 0.8rem;
//                 width: 70%;
//                 line-height: 1.3;
//                 max-height: 50vh;
//             }
//         }

//         .item-container {
//             @include item-container();

//             .item{
//                 @include item();
//                 top: 50%;
//                 min-width: 130px;
//                 line-height: 1.2;
//                 font-size: 0.9rem;
//                 white-space: wrap;

//                 li {
//                     list-style: none;
//                 }

//                 .sup{
//                     position: relative;
//                     bottom: 1ex;
//                     font-size: 80%;
//                 }
//             }
//             .brown1{
//                 background: #0F0705;
//             }
//             .brown2{
//                 background: #211814;
//             }
//             .brown3{
//                 background: #6B3700;
//             }
//             .brown4{
//                 background: #29160B;
//             }
//             .brown5{
//                 background: #BB7000;
//             }
//             .brown1:hover, .brown2:hover, .brown3:hover, .brown4:hover, .brown5:hover{
//                 transform: scale(1.02);
//                 font-weight: bold;
//             }
//         }
//     }
//     .more-info{
//         margin-top: 20px;
//         width: 100%;
//         h3{
//             text-align: center;
//             font-size: 1.3rem;
//             margin: 25px;

//         }
//         .item-container{

//             .item{
//                 @include item-in-container();
//                 color: white;
//                 }
//             .polaroid1{
//                 background:  #393B44;

//                 grid-area: pol1;
//             }
//             .polaroid2{

//                 background: #211814;
//                 grid-area: pol2;
//             }
//             .polaroid3{
//                 background: #f3f5f4;
//                 color: black;
//                 padding-left: 20px;
//                 text-align: justify;
//                 grid-area: pol3;
//             }
//             .polaroid4{
//                 background: #393B44;
//                 grid-area: pol4;
//             }
//             .polaroid5{
//                 background: white;
//                 color: black;
//                 grid-area: pol5;
//             }
//             .polaroid6{
//                 background: #211814;
//                 grid-area: pol6;
//                 p{
//                     text-align: center;
//                 }
//             }
//             .polaroid7{
//                 background: #211814;
//                 grid-area: pol7;
//             }
//             .polaroid8{
//                 background: #211814;
//                 grid-area: pol8;
//             }
//         }
//     }
// }
