@import "../global";

.hero {
  position: relative;
  width: 100%;
}
p,
li {
  font-family: "Roboto";
  line-height: 1.6rem;
}

.hero-content {
  width: 85%;
  margin: 50px auto;
}
.pomps-title {
  @include title();
}
.pomps-description {
  @include hero-description();
}

.hero-bg {
  @include hero-bg-img();
  object-position: right 65%;
  transform: scaleX(-1);
  height: 40vh;
}

.items {
  @include items();
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
}

.item {
  @include item();
  flex-direction: column;
  justify-content: flex-start;

  ul {
    list-style: none;
  }
  li {
    margin-bottom: 5px;
  }
}
.card-container {
  grid-template-columns: 1fr;
  grid-gap: 10px 3%;
}
@media (min-width: 650px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
