@import "../global";

.hero {
  position: relative;
}
.hero-content {
  width: 80%;
  margin: 50px auto;
  .about-title {
    @include title()
  }
  .about-description {
  @include hero-description()
  }
}

.bg-overlay {
  position: relative;
  height: 60vh;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85) 0%,
      transparent 90%
    );
  }
}
.hero-bg {
  @include hero-bg-img();
  object-position: right 80%;
  height: 60vh;
}
.energy-img {
  position: absolute;
  right: 2%;
  top: 10%;
  filter: grayscale(80%);
  max-width: 90%;
  max-height: 20vh;
  min-height: 50px;
}

.items {
  @include items();
}
.item {
  @include item();
}

.nibe-banner {
  width: 100%;
  max-height: 200px;
  background: linear-gradient(90deg, #dad8d9 0% 50%, transparent 50% 100%),
    linear-gradient(#cd7c11 0% 50%, white 50% 100%);

  .banner {
    width: 100%;
    max-width: 850px;
    max-height: 200px;
    aspect-ratio: 4 / 1;
    display: block;
    margin: 0 auto;
  }
}
