$orange: rgb(224, 123, 34);
$kontakt-background: rgba(32, 30, 30, 0.9);
$shadow: 0px 0px 2em rgb(148, 147, 147);
$orange5: #4e1e02;
$brown5: #BB7000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 99vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
   
    
}


// mixins

@mixin contact-btn {
    padding: 25px 25px;
    margin: 5px auto;
    font-size: 0.7rem;
    border-radius: 10px;
    box-shadow: 0px 0px 2em rgb(148, 147, 147);
    border: none;
    background-color: $orange;
    color: white;
    cursor: pointer;
}
@mixin title {
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    text-align: left;
}
@mixin mid-title {
    color: $brown5;
    font-size: 1rem;
    font-style: italic;
    margin: 10px 10px;
}
@mixin item {
    padding: 0 5px;
    min-height: 150px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    color: white;
}
@mixin item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

@mixin item-in-container{
    
        padding:5px;
        margin: 2px;
        font-size: 1rem;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        h4{
            text-align: center;
            font-size: 1.2rem;
            margin: 10px auto;
        }
        p{
            margin-bottom: 20px;
        }
        ul {
            li{
            text-align: center;
            list-style: none;
            }
        }
        img{
            display: block;
            max-width: 100%;
            max-height: 350px;
            margin: 0 auto;
        }
    
}

// header 

header {
    background-color: #e2e3e5;
    border-bottom: 1px solid rgb(36, 35, 35);
    height: 180px;
    
    nav {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        color: black;
        display: grid;
        grid-template-columns: 2fr 6fr 1fr;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        
        .logo {
            

            img{
            min-width:50px;
            max-width: 70px;
            }
        }

        .nav-list {
            display: flex;
            justify-content: center;
            align-items: baseline;
            flex-wrap: wrap;
            margin: 10px auto;
            line-height: 1;
            
            li{
                list-style: none;
                padding: 5px 10px;
                font-size: 0.9rem;
                flex-wrap: wrap;
                text-align: center;

                &:hover {
                    font-weight: bold;
                    background-color: white;
                    border-radius: 7px;
                    color: black;
                }

                a{
                    text-decoration: none;
                    color: inherit;
                }
            }
        } 
        button {
            text-decoration: none;
            background-color: $orange;
            border: none;
            outline: none;
            padding: 15px 15px;
            margin: 5px auto;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            
    
            &:hover {
                color: rgb(219, 219, 219);
                background-color: rgb(206, 103, 14);
                
            }
        }
    }
}

// main 
main {
    width: 100%;
    overflow: hidden;
}

                
                