@media (min-width: 860px) {
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  #nav-logo {
    max-width: 120px;
  }
  .nav-contact-btn {
    display: inline-block;
  }
}

@media (min-width: 300px) {
  .about-description {
    font-size: calc(0.75rem + 1vw + -3px);
  }
  .pomps-description {
    font-size: calc(0.75rem + 1vw + -3px);
  }
  .floor-description {
    font-size: calc(0.75rem + 1vw + -3px);
  }
  .recuperation-description {
    font-size: calc(0.75rem + 1vw + -3px);
  }
  .panels-description {
    font-size: calc(0.75rem + 1vw + -3px);
  }
}
@media (min-width: 600px) {
  .about-description {
    width: 60%;
  }
  .pomps-description {
    width: 60%;
  }
  .floor-description {
    width: 60%;
  }
  .recuperation-description {
    width: 60%;
  }
  .panels-description {
    width: 60%;
  }
}

@media (min-width: 850px) {
  .about-title {
    top: 40%;
  }
  .about-description {
    top: 50%;
    width: 50%;
    font-size: calc(0.75rem + 4px);
  }
  .pomps-title {
    top: 30%;
  }
  .pomps-description {
    top: 40%;
    width: 50%;
    font-size: calc(0.75rem + 4px);
  }
  .floor-title {
    top: 30%;
  }
  .floor-description {
    top: 40%;
    width: 50%;
    font-size: calc(0.75rem + 4px);
  }
  .recuperation-title {
    top: 30%;
  }
  .recuperation-description {
    top: 40%;
    width: 50%;
    font-size: calc(0.75rem + 4px);
  }
  .panels-title {
    top: 30%;
  }
  .panels-description {
    top: 40%;
    width: 50%;
    font-size: calc(0.75rem + 4px);
  }
}
