@import "../global";

.hero {
  position: relative;
  width: 100%;
}
p {
  line-height: 1.7rem;
  font-family: "Roboto";
}
.hero-content {
  width: 85%;
  margin: 50px auto;
  font-family: "Roboto";
}
.recuperation-title {
  @include title();
}
.recuperation-description {
  @include hero-description();
}

.hero-bg {
  @include hero-bg-img();
  object-position: left 55%;
  height: 40vh;
}

.items {
  @include items();
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  width: 85%;
}
.items1 {
  grid-template-columns: 1fr;
  text-align: left;
  width: 85%;
  max-width: 950px;
}
.item {
  @include item();
  flex-direction: column;
  justify-content: flex-start;
  p {
    margin: 0 auto 5px 15px;
    text-align: left;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      background-color: black;
      display: inline-block;
      position: absolute;
      top: 10px;
      left: -10px;
    }
  }
}
.card-container {
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.info-card p {
  margin-bottom: 10px;
}

.info-card span {
  font-weight: 600;
}

@media (min-width: 600px) {
  .items1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 750px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
