@import "../global";

.hero {
  position: relative;
  width: 100%;
}
.hero-content{
  width: 80%;
  margin: 50px auto;
}
.recuperation-title {
  @include title();
}
.recuperation-description {
  @include hero-description();
}

.hero-bg {
  @include hero-bg-img();
  object-position: left 55%;
  height: 40vh;
}

.items {
  @include items();
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
}
.item {
  @include item();
  flex-direction: column;
  justify-content: flex-start;
  p{
    margin-bottom: 5px;
    text-align: left
  }
 
}
.card-container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 450px));
  grid-gap: 30px;
}

.info-card p {
  margin-bottom: 10px;
}

.info-card span {
  font-weight: 600;
}